---
title: The Negotiator II console · Anas Malas
permalink: /bc2/console/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ site.url }}/bcv2/console/">
    <meta http-equiv="refresh" content="0; url=/bcv2/console/">
    <meta name="robots" content="noindex">
  </head>
  <body><a href="/bcv2/console/">The console has moved to anasmalas.com/bcv2/console</a></body>
</html>
