---
title: The Negotiator II · Anas Malas
permalink: /bc2/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ site.url }}/bcv2/">
    <meta http-equiv="refresh" content="0; url=/bcv2/">
    <meta name="robots" content="noindex">
  </head>
  <body><a href="/bcv2/">The Negotiator II has moved to anasmalas.com/bcv2</a></body>
</html>
